body {
    margin: 0;
}

.button-style1 {
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.button-style1:visited {
    color: black;
}

.script{
    width: 90vh;
}
